<p>
  <form method="POST" action="/turn" >
    <button type="submit" name="turn" value="1">1</button>
    <button type="submit" name="turn" value="2">2</button>
    <button type="submit" name="turn" value="3">3</button>
    <button type="submit" name="turn" value="4">4</button>
    <button type="submit" name="turn" value="5">5</button>
    <button type="submit" name="turn" value="6">6</button>
    <button type="submit" name="turn" value="7">7</button>
  </form>
</p>