<html>
<head>
  <style type="text/css">
  
    body {
      text-align: center;
      font-family: "Courier New", Courier, monospace;
      font-size: 26px;
    }

    h1 {
      font-size: 20px;
    }

    button {
      font-size: 26px;
      background:none!important;
      border:none; 
      padding:0!important;
}
    </style>
</head>
<body>
  <h1>Four Dots</h1>
  <p><%= matrix %><p>

  <%= yield %>

</body>
</html>