<p>And the winner is <%=winner%>!</p>
New game?
<form method="POST" action="/" >
  <button type="submit" name="turn" value="Y">Y</button>
  /
  <button type="submit" name="turn" value="N">N</button>
</form>